p, h5, h6, {
  font-family: Arapey;
}

body {
  background-image: url('../images/main-bg_repeat.jpg');
}

span {
  color: red;
}

.infoUl {
  font-family: Arapey;
}

#nameInput, #mailInput {
  margin: 2px;
}

.learnMore {
  text-decoration: none;
}

#header-bg {
  background-image: url('../images/header-bg_repeat.jpg');
  height: 198px;
}

#overlay {
  margin-top: -165px;
  position: absolute;
}

#logo {
  position: absolute;
  margin-top: -140px;
}

#infoUlOne{
  font-size: 12px;
  color: white;
  display: inline;
  list-style: square;
  margin: 2px 10px 0 0
}


.infoUl {
  font-size: 12px;
  color: white;
  display: inline;
  list-style: square;
  margin: 2px 10px;
}

.navUl {
  color: white;
  display: inline;
  list-style: none;
  margin-right: 50px;
}

.navContainer {
  margin-top: -40px;
  position: absolute;
}

#headerOverlay {
  background-image: url("../images/header-overlay_with_shadows.png");
  background-repeat: no-repeat;
  height: 452px;
  margin-top: -160px;
  margin-left: 10%;
}

#galleryButton {
  background-color: gold;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-family: Arapey;
}

.galleryTagline {
  padding-top: 20px;
  font-family: Arapey;
}

#secondRow {
  padding-top: 40px;
  padding-bottom: 30px;
}

.spotlight {
  margin: 10px;
}

.spotlightRow {
  padding-top: 50px;
}

.learnMore {
  color: gold;
  font-size: 12px;
  padding-bottom: 5px;
}

.footerRow {
  margin-top: -200px;
}

#pName {
  margin-top: -20px;
}

.flexslider {
  margin-top: 2%;
}

#rotator2 {
  transform: rotate(.5deg)
}

#rotator3 {
  transform: rotate(-.5deg)
}

#rotator4 {
  transform: rotate(1deg)
}

#emailInput {
  margin-top: -12%;
}

#newsletterTag {
  text-align: center;
  font-family: Arapey;
  color: white;
  margin-bottom: 1px;
}

#submit {
  background-color: gold;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-family: Arapey;
}
